# System Files
.DS_Store
Thumbs.db
pineapples-generation/_assets/
pineapples-generation/_output/
.contract
node_modules
*/*.sql
*/*.zip
.IPFS_*
pineapples-website/api/INFURA.php
pineapples-website/api/DATABASE.php
